<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SendKeys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SendKeys.Properties.Settings>
            <setting name="Macro0" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro1" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro2" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro3" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro4" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro5" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro6" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro7" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro8" serializeAs="String">
                <value />
            </setting>
            <setting name="Macro9" serializeAs="String">
                <value />
            </setting>
        </SendKeys.Properties.Settings>
    </userSettings>
</configuration>